<tr>
    <td>
        <div class="form-check">
            <label class="form-check-label">
                <i class="material-icons">local_shipping</i>
            </label>
        </div>
    </td>
    <td><%= key %></td>
</tr>